@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root { height: 100%; overflow: hidden; }
body {
  font-family: 'DM Sans', sans-serif;
  color: #0F172A;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
}
body[data-font="dm-sans"] { font-family: 'DM Sans', sans-serif; }
body[data-font="manrope"] { font-family: 'Manrope', sans-serif; }
body[data-font="vazirmatn"] { font-family: 'Vazirmatn', 'Tahoma', sans-serif; }
html[lang="fa"] body { font-family: 'Vazirmatn', 'Tahoma', sans-serif; }
h1,h2,h3,h4,h5,h6 { font-family: 'Manrope', sans-serif; }

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #CBD5E1; border-radius: 3px; }

kbd { display: inline-block; padding: 1px 5px; font-size: 0.65rem; font-family: monospace; background: #F1F5F9; border: 1px solid #CBD5E1; border-radius: 3px; box-shadow: 0 1px 0 #CBD5E1; }

::selection { background: #DBEAFE; }
